<!-- Paginador -->
 
<nav class="paginador">

    <ul class="pagination">

        <li class="page-item">
            <a  class="page-link"
                [ngClass]="{'disabled': paginaActual == 1 }"  
                (click)="onClickPaginadorItem(paginaActual - 1)" >
                Atrás
            </a>
        </li>

        <li *ngFor="let pagina of arrayDePaginas; let i = index">
  
            <a class="page-link" 
                *ngIf="i < 1 || i >= arrayDePaginas.length - 1 || (i >= paginaActual - 1 && i <= paginaActual + 1)"
                [ngClass]="{'active': i === paginaActual}" 
                (click)="onClickPaginadorItem(i)"
                >
                {{ i + 1 }}
            </a>
          
        </li>

        <li class="page-item">
            <a  class="page-link"
                [ngClass]="{'disabled': paginaActual == arrayDePaginas.length - 1 }"  
                (click)="onClickPaginadorItem(paginaActual + 1)">
                Siguiente
            </a>
        </li>

    </ul>
    
</nav>