
/* Formulario Tarjeta */

.titulo-seccion {
    margin-top: 32px;
}


.formulario-contenedor {
    height: 700px;
    width: 100%;
    background-color: #e6e6e6;
    padding: 48px;
    margin-bottom: 2rem;

}


.formulario-tarjeta {
    height: 100%;
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}


.input-contenedor {
    width: 50%;
    margin-bottom: 1rem;
}

.input-contenedor #vencimiento {
    width: 140px; 
}

.input-contenedor #codigo-seguridad {
    width: 50px; 
}

.formulario-tarjeta button {
    margin-top: 2rem;
    width: 100%;
}

.tarjeta-card {
    width: 50%;
    min-height: 160px !important;
    position: relative;
    top: -320px;
    right: -240px;
    background-color: gray;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}


/* RESPONSIVE */
@media screen and (max-width: 767px) {
    .tarjeta-card {
        display: none;
    }

    .input-contenedor {
        min-width: 100%;
    }
    
}


@media screen and (min-width: 1400px) {

    .formulario-contenedor {
        width: 85%;
    }

}

