<section class="seccion-contenedor">
    
        <h4>
            <button class="boton-regresar"
                    routerLink="/autenticacion/login"
            >
                <i class="bi bi-arrow-left"></i>
            </button>
            
            Regresar
        </h4>

    
        <div class="formulario-contenedor">

                <h4 class="formulario-titulo">Recuperar contraseña</h4>
                <p>Te enviaremos un código para que puedas restablecer tu contraseña.</p>

                    <form [formGroup]="formRecuperarPassword">
                        
                        <div class="control-contenedor">

                            <label class="form-label" for="recuperarPassword">Correo</label>
                 
                            <input class="form-control" type="text" id="recuperarPassword" formControlName="correoElectronico">
                            
                            <span *ngIf="(this.formRecuperarPassword.statusChanges | async )  === 'PENDING' && formRecuperarPassword.controls['correoElectronico'].value !== '' ">
                                <img class="spinner" src="/assets/spinner.svg">Comprobando si el correo existe...
                            </span>

                            <span class="text-danger" *ngIf="elCampoEsValido('correoElectronico')">{{ obtenerErrorDeCampo('correoElectronico') }}</span>

                        </div>

                        <button class="btn btn-primary" 
                                type="submit" 
                                [disabled]="(this.formRecuperarPassword.statusChanges | async )  === 'PENDING' || this.formRecuperarPassword.invalid" 
                                routerLink="/autenticacion/feedback-restablecer-password"
                                >
                                Enviar
                        </button>

                    </form>

        </div>

</section>