<div class="tool-bar">
    <!-- Boton Sidebar Colapsable-->
    <button 
        class="toggler-sidebar-colapsable btn btn-primary" 
        type="button" 
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample">
        Filtrar
    </button>

    <!-- Ordenar Productos -->
    <div class="ordenar-productos">
        <p class="">Ordenar por:</p>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
               >
                Relevancia
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Precio más alto</a></li>
                <li><a class="dropdown-item" href="#">Precio más bajo</a></li>
                <li><a class="dropdown-item" href="#">A - Z</a></li>
                <li><a class="dropdown-item" href="#">Z - A</a></li>
            </ul>
        </div>
    </div>
</div>