
<section class="seccion-contenedor">

    <div class="formulario-contenedor">

        <h4 class="formulario-titulo">Restablecer contraseña</h4>
        <p>Ingrese una nueva contraseña.</p>

        <form [formGroup]="formRestablecerPassword">
            
            <div class="control-contenedor">
                <label class="form-label" for="password">Contraseña</label>
                <input class="form-control" type="password" id="password" formControlName="password" > 
                <span class="text-danger" *ngIf="elCampoEsValido('password')">{{ obtenerErrorDeCampo('password') }}</span>
            </div> 

            <div class="control-contenedor">
                <label class="form-label" for="password2">Confirmar contraseña</label>
                <input class="form-control" type="password" id="password2" formControlName="password2" > 
                <span class="text-danger" *ngIf="elCampoEsValido('password2')">{{ obtenerErrorDeCampo('password2') }}</span>
            </div>
        
            <button class="btn btn-primary" 
                    type="submit" 
                    [disabled]="this.formRestablecerPassword.invalid"
                    >
                    Restablecer
            </button>

        </form>
        
    </div>
    
</section>
