.seccion-contenedor {
    padding: 4rem;
}

.formulario-titulo {
    margin-bottom: 1rem;
}

.formulario-contenedor {
    width: 400px;
    padding: 2rem;
    border: 2px solid #dee2e6;  
    border-radius: 0.375rem;
}

.control-contenedor {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

}

.form-label {
    margin-bottom: 0.5rem;
}

input {
    margin-bottom: 4px;
}

.formulario-contenedor button {
    margin: 1rem 0;
    width: 100%;
}

.ng-touched.ng-invalid:is(input,textarea),  
.ng-dirty.ng-invalid:is(input,textarea) {
    border: 2px solid  #dc3545;
}


@media screen and (max-width: 528px) {
    .seccion-contenedor {
        padding: 2rem;
    }
    .formulario-contenedor {
        width: 100%;
    }
}
