/* CARD */

.card {
    margin-bottom: 2rem;
    
}

.card:hover {
    border: 2px solid #0d6efd;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;

}
.card-precio{
    font-weight: 700;
}

.card-precio-descuento {
    font-weight: 400;
    color: #00A650;
}

