<section class="seccion-pickups row">

    <h2>Seleccione un punto de retiro</h2>

    <div class="col-lg-8">
        <div class="mapa-pickups-contenedor">

            <!-- Colapsable pickups -->
            <div class="accordion">
                <div class="accordion-item">

                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#accordion-pickups">
                        </button>
                    </h2>

                    <div class="accordion-collapse collapse" id="accordion-pickups">

                        <div class="accordion-body ">

                            <div class="pickup-card">
                                <h4>Lorem Ipsum Dolor Sit Amet</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sapien eu
                                    libero lobortis sagittis. Integer ut risus lectus.</p>
                                <button class="btn btn-primary">Seleccionar</button>
                            </div>
                            <div class="pickup-card">
                                <h4>Lorem Ipsum Dolor Sit Amet</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sapien eu
                                    libero lobortis sagittis. Integer ut risus lectus.</p>
                                <button class="btn btn-primary">Seleccionar</button>
                            </div>
                            <div class="pickup-card">
                                <h4>Lorem Ipsum Dolor Sit Amet</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sapien eu
                                    libero lobortis sagittis. Integer ut risus lectus.</p>
                                <button class="btn btn-primary">Seleccionar</button>
                            </div>
                            <div class="pickup-card">
                                <h4>Lorem Ipsum Dolor Sit Amet</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sapien eu
                                    libero lobortis sagittis. Integer ut risus lectus.</p>
                                <button class="btn btn-primary">Seleccionar</button>
                            </div>
                            <div class="pickup-card">
                                <h4>Lorem Ipsum Dolor Sit Amet</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sapien eu
                                    libero lobortis sagittis. Integer ut risus lectus.</p>
                                <button class="btn btn-primary">Seleccionar</button>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

            <!-- Mapa -->
            <div class="mapa">
            </div>
        </div>
    </div>
</section>