/* Buscador */
.buscador {
    display: flex;
    width: auto;
    width: 40vw;
}

.buscador input {
    margin-right: 4px;

}
.buscador button {
    width: 40px;
    height: 40px;
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {

    .buscador {
        width: 50vw !important;
        padding: 1rem 0 !important;
    }
}

@media screen and (min-width: 1200px) {

    .buscador {
        width: 35vw !important;
    }
}