<section class="pagenotfound-seccion">
    <div class="pagenotfound-contenedor">
        <i class="bi bi-emoji-frown pagenotfound-icono" ></i>

        <span class="pagenotfound-titulo">404</span>
        <span class="pagenotfound-subtitulo">Página no encontrada</span>
        <span class="pagenotfound-parrafo">Lo sentimos... la página que estas buscando no fue encontrada.</span>
        <span class="pagenotfound-parrafo">Regresa atrás o ve al Inicio por favor.</span>

        <a href=""><button class="btn btn-primary">Ir al Inicio</button></a>
    </div>
</section>