<section class="seccion-historial-compras">

    <h2 class="seccion-historial-compras-titulo">Mis compras</h2>

    <div class="historial-compras-contenedor"> 
        <div class="compra-card">
            <img class="compra-imagen" src="" alt="" >

            <div class="compra-detalle-item compra-producto">
                <h5>Producto</h5>
                <h6>Nike Air Max SC</h6>
                <p>Cod Art: IG7757</p>
                <p>Talle: 42</p>
            </div>

            <div class="compra-detalle-item compra-detalle">
                <h5>Detalle de la compra</h5>
                <p>Precio: <span>$ 100.000</span></p>
                <p>Cuotas: <span>3</span> <span>Interés: 15%</span></p>
                <p>Precio Final: <span>$ 115.000</span> </p>
            </div>   

            <div class="compra-detalle-item compra-pickup">
                <h5>Punto de retiro</h5>
                <p>Sucursal Centro, Av. Colón 1200</p>
            </div>  

            <div class="compra-detalle-item entrega-estado">
                <h5>Estado de la entrega</h5>
                <p>Pendiente</p>
            </div>  
        </div>
    </div>

</section>