/* Resumen de compra */

.resumen-compra-titulo {
    font-size: 20px;
}

.resumen-compra-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 48px;
    background-color: #e6e6e6;
}

.resumen-compra-card {
    height: 605px;
    width: 100%;
    background-color: white;
    padding: 2rem;
    margin-top: 48px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);

}

.resumen-compra-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

/* RESPONSIVE */

