<div class="resumen-compra-contenedor">

    <div class="resumen-compra-card">

        <h5 class="resumen-compra-titulo">Resumen de compra</h5>
        
        <hr>   
        <div class="resumen-compra-item" *ngFor="let producto of productosTomados">
            <p>{{ producto.modelo }}</p><span>$ {{ producto.precio }}</span>
        </div>   
        
        <hr>
        <div class="resumen-compra-item">
            <p>Total</p><span>$ {{ precioTotal }}</span>
        </div>

    </div>

</div>