/* Resumen de compra */



.resumen-compra-titulo {
    font-size: 20px;
}

.resumen-compra-contenedor {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 32px;
    background-color: #e6e6e6;
}

.resumen-compra-card {
    height: 605px;
    width: 100%;
    background-color: white;
    padding: 1.5rem;
}

.resumen-compra-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

@media screen and (max-width: 992px) {

    .resumen-compra-contenedor {
        padding: 48px
    }
}
