.feedback-contenedor {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ecef;
}

.feedback {
    width: 800px;
    height: 600px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #e9ecef;
}

.feedback i {
    font-size: 120px;
    color: #198754;
}