<!-- Footer -->

<footer class="bg-dark">

    <img class="footer-icono" src="/assets/logo.svg" alt="Logo del E-Commerce">

    <p class="footer-texto text-center">Los mejores productos al mejor precio.<br>Calidad garantizada.</p>
    
    <div class="iconos-redes-sociales">

        <a href="https://linkedin.com/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
        </a>
    </div>

    <div class="derechos-de-autor">Creado por Maximiliano Salinas (2024) &#169;</div>
</footer>
